body {
    padding-top: 41px;
    padding-bottom: 200px;
}

body .hero-unit
{
    padding: 20px 50px 30px 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: white;
    background: url(/img/wild_oliva/wild_oliva.png);
}

#getstarted-prompt
{
    margin-top: 8em;
}

.navbar-fixed-top
{
    margin-bottom: 0px !important;
}

a[target=_blank]
{
    padding-right: 13px;
    background-image: url(/img/newtab.png);
    background-position: right center;
    background-repeat: no-repeat;
}


h2
{
    padding-top: 40px;
    margin-top: -40px;
}

section
{
    padding-bottom: 3em;
}

/* Large desktop */
@media (min-width: 1201px) {
    #leftnavbar.affix
    {
        top: 68px;
        width:238px;
    }  
}

/* Normal desktop */
@media (max-width: 1200px) and (min-width: 980px) {
    #leftnavbar.affix
    {
        width: 188px;
        top: 68px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #leftnavbar.affix
    {
        width: 134px;
        top: 10px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    #leftnavbar.affix
    {
        position: inherit !important;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    #leftnavbar.affix
    {
        position: inherit !important;
    }
}